## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\abiga\OneDrive\Documents\UT Bootcamp\Module 6\World_Weather_Analysis\Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Nichinan,JP,31.60,131.37,56.25,72,86,8.10,overcast clouds
1,1,San Pedro,PH,14.35,121.02,78.01,94,90,3.36,overcast clouds
2,2,Ushuaia,AR,-54.80,-68.30,51.80,37,0,16.11,clear sky
3,3,Trelew,AR,-43.25,-65.31,79.56,38,95,16.69,overcast clouds
4,4,Arraial Do Cabo,BR,-22.97,-42.03,80.60,83,75,11.41,broken clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,San Pedro,PH,14.35,121.02,78.01,94,90,3.36,overcast clouds
3,3,Trelew,AR,-43.25,-65.31,79.56,38,95,16.69,overcast clouds
4,4,Arraial Do Cabo,BR,-22.97,-42.03,80.60,83,75,11.41,broken clouds
5,5,Puerto Ayora,EC,-0.74,-90.35,77.00,69,40,13.87,scattered clouds
6,6,Tarsus,TR,36.92,34.88,64.40,59,0,2.24,clear sky
11,11,Faanui,PF,-16.48,-151.75,78.33,81,100,15.14,light rain
13,13,Broome,US,42.25,-75.83,69.80,37,1,8.05,clear sky
15,15,Westport,US,41.14,-73.36,73.99,48,1,5.82,clear sky
16,16,Tocopilla,CL,-22.09,-70.20,67.96,48,16,7.02,few clouds
17,17,Carnarvon,AU,-24.87,113.63,66.20,55,10,14.99,clear sky

In [31]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        349
City           349
Country        345
Lat            349
Lng            349
Max Temp       349
Humidity       349
Cloudiness     349
Wind Speed     349
Description    349
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df=preferred_cities_df.dropna()
clean_cities_df.count()

City_ID        345
City           345
Country        345
Lat            345
Lng            345
Max Temp       345
Humidity       345
Cloudiness     345
Wind Speed     345
Description    345
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Description","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro,PH,78.01,overcast clouds,14.35,121.02,
3,Trelew,AR,79.56,overcast clouds,-43.25,-65.31,
4,Arraial Do Cabo,BR,80.60,broken clouds,-22.97,-42.03,
5,Puerto Ayora,EC,77.00,scattered clouds,-0.74,-90.35,
6,Tarsus,TR,64.40,clear sky,36.92,34.88,
11,Faanui,PF,78.33,light rain,-16.48,-151.75,
13,Broome,US,69.80,clear sky,42.25,-75.83,
15,Westport,US,73.99,clear sky,41.14,-73.36,
16,Tocopilla,CL,67.96,few clouds,-22.09,-70.20,
17,Carnarvon,AU,66.20,clear sky,-24.87,113.63,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.count()

City           345
Country        345
Max Temp       345
Description    345
Lat            345
Lng            345
Hotel Name     345
dtype: int64

In [36]:
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro,PH,78.01,overcast clouds,14.35,121.02,OYO 412 Viewfort Venue
3,Trelew,AR,79.56,overcast clouds,-43.25,-65.31,Hotel Touring Club
4,Arraial Do Cabo,BR,80.60,broken clouds,-22.97,-42.03,Pousada Porto Praia
5,Puerto Ayora,EC,77.00,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
6,Tarsus,TR,64.40,clear sky,36.92,34.88,Osmanli Marco Pasha Hotel

In [37]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
#Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))